<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<%= link_to 'Back', restaurants_path %>

<br>

<h3>Reviews for <%= @restaurant.name %></h3>
  <% @reviews.each do |review| %>
    <p><%= review.content %></p>
  <% end %>
